@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
}
  body {
    @apply font-body;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-heading;
  }
}



